<!DOCTYPE html>
{% block script %}{% endblock %}

{% block body %}
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>

    <body>
        <form method="POST">
            <div class="input-group col-6 mt-5">
                <input type="text" class="form-control" name="text" placeholder="標準病名検索">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="button1">検索</button>
            </div>
            <div class="form-group mt-1 ml-3">
                <label><input type="radio" name="type" value="edit">編集距離</label>
                <label><input type="radio" name="type" value="bert">BERT</label>
            </div>
            <div class="form-group mt-1 ml-3">
                <label><input type="radio" name="convert" value="True">変換する</label>
                <label><input type="radio" name="convert" value="False">変換しない</label>
            </div>
        </form>

        <div class="row">
            <div class="col-6">
                <table class="table table-bordered ml-3">
                    <thead>
                        <tr>
                            <th width="10%">類似度</td>
                            <th width="90%">標準病名</td>
                        </tr>
                    </thead>

                    <tbody>
                        {% for l,s in normal %}
                            <tr>
                                <td>{{s}}</td>
                                <td>{{l}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
{% endblock %}
